<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @age_group.group %>
</p>

<%= link_to 'Edit', edit_age_group_path(@age_group), class:'btn btn-info'%> |
<%= link_to 'Back', age_groups_path, class:'btn btn-default' %>
